# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment folders
env/
venv/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Mac system files
.DS_Store
**/.DS_Store